<manifest xmlns:android="http://schemas.android.com/apk/res/android"
  package="com.ds.worldfunclublocal">

    <application>
        <activity
            android:name="com.ds.worldfunclub.wxapi.WXEntryActivity"
            android:exported="true"
            android:label="@string/app_name"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:taskAffinity="com.ds.worldfunclub"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" />
        <activity
            android:name="com.ds.worldfunclub.wxapi.WXPayEntryActivity"
            android:exported="true"
            android:label="@string/app_name"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:taskAffinity="com.ds.worldfunclub"
            android:theme="@style/AppTheme" />
        <activity
            android:name="com.google.zxing.client.android.CaptureActivity"
            android:exported="true"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme" />
    </application>
</manifest>
